# OSX specific
.DS_Store

# ignore npm packages
node_modules

# ignore credentials
credentials.js

# ignore SSL certs
ssl/*

# ignore task list
TODO.txt

# ignore test data objects
lib/testUserData.js
