<title>Twigest Discovery</title>

<div class="headline text-center"><h1>Twigest Discovery</h1></div>

<div class="userhandle-container text-center">
	<form action="/userhandle" method="get">
		@ <input type="text" name="userhandle" placeholder="Enter a Twitter Username">
	</form>
</div>
