<title>Twigest</title>

<div class="headline text-center"><h1>Welcome to Twigest</h1></div>

<div class="userhandle-container text-center">
	<form action="/userhandle" method="get">
		@ <input type="text" name="userhandle" placeholder="Enter your Twitter Username">
	</form>
</div>
