<title>Twigest</title>

<div class="headline text-center"><h1>Welcome to Twigest</h1></div>

<div class="container-btn-twitter-signin text-center">
	<a class="btn btn-lg btn-block btn-social btn-twitter btn-twitter-signin" href="/signin">
		<i class="fa fa-twitter"></i>
		Sign in with Twitter
	</a>
	<br />
	<p>
		or
	</p>

	<a class="btn-twigest-explore" href="/explore"><h3>Explore</h3></a>

</div>
