{{#section 'head'}}
	<!-- Quicksand Font -->
	<link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
{{/section}}

<title>Tweegest</title>

<div class="headline text-center"><h1>Welcome to Tweegest</h1></div>

<div class="userhandle-container text-center">
	<form action="/userhandle">
		@ <input type="text" name="userhandle" placeholder="Enter your Twitter Username">
	</form>
</div>

<div class="card-container">
	<header>
		<div class="bio">
			<img src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg">
			<div class="desc">
				<h3>@carlf</h3>
				<p>Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character.</p>
			</div>
		</div>

		<div class="avatar-container">
			<img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar">
			<div class="hover">
					<div class="fa fa-twitter"></div>
			</div>
		</div>
	</header>

	<div class="content">
		<div class="data">
			<ul>
				<li>
					2,934
					<span>Tweets</span>
				</li>
				<li>
					1,119
					<span>Followers</span>
				</li>
				<li>
					530
					<span>Following</span>
				</li>
			</ul>
		</div>

		<div class="follow"> <div class="fa fa-twitter"></div> Follow</div>
	</div>
</div>

{{#section 'jquery'}}
	<!-- Follow Button Effect -->
	<script type="text/javascript">
		$(document).ready(
			function followClick() {
				$('.follow').on("click", function() {
			  	$('.follow').css('background-color', '#34CF7A');
			  	$('.follow').html('<div class="fa fa-check"></div> Following');
				});
			}
		);
	</script>
{{/section}}
