<title>Tweegest</title>

<div class="headline text-center"><h1>Welcome to Tweegest</h1></div>

<div class="userhandle-container text-center">
	<form action="/userhandle">
		@ <input type="text" name="userhandle" placeholder="Enter your Twitter Username">
	</form>
</div>
